/* PC */
@media(min-width:124px ) {

}

/* Tablet */
@media(max-width:720px) and (max-width:1023px) {

}

/* mobile */
@media (max-width: 739px) {

    /* #nav{
        display: block;
    } */
    #nav>li {
        display:block;

    }

    #nav li a{
        display:block;
        width: 100%;

    }
    

     
   
}