*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{

}

#header{
    height: 46px;
    background-color: #000;
}
#nav li a{
    color: #fff;
    line-height: 46px
}
#nav li{
    display: inline-block;
}
#nav .subnav{
    display: none;
}

#slider{

}

#content{

}

#footer{

}